.advantage {
	background-color: $backgroundPrimaryColor;
	// .advantage__headline {
	// }
	.advantage__body {
		position: relative;
		@include flex(center, center);
		@media screen and (max-width: $breackpointMDMax) {
			padding: 150px 0 170px;
		}
		@media screen and (max-width: $breackpointXSMax) {
			padding: calc(0px + 150 * (100vw / 370)) 0 calc(0px + 170 * (100vw / 370));;
		}
	}
	.advantage__card {
		position: absolute;
		z-index: 2;
		display: inline-block;
		background-color: $primaryColor;
		transition: $delay;
		cursor: default;
		@media screen and (hover: hover) {
			&:hover {
				background-color: $secondaryColor;
			}
		}
		@media screen and (min-width: $breackpointSMMin) {
			padding: 10px;
			border-radius: 10px;
		}
		@media screen and (min-width: $breackpointLGMin) {
			&._right-top {
				top: 4%;
				left: 65%;
			}
			&._right-center {
				left: 73%;
				top: 50%;
				transform: translate(0, -50%);
			}
			&._right-bottom {
				bottom: 4%;
				left: 65%;
			}
			&._left-bottom {
				right: 65%;
				bottom: 4%;
			}
			&._left-center {
				right: 73%;
				top: 50%;
				transform: translate(0, -50%);
			}
			&._left-top {
				top: 4%;
				right: 65%;
			}
		} 
		@media screen and (max-width: $breackpointMDMax) {
			&._right-top {
				top: 0;
				left: 0;
			}
			&._right-center {
				right: 0;
				top: 10%;
			}
			&._right-bottom {
				top: 20%;
				left: 0;
			}
			&._left-bottom {
				right: 0;
				bottom: 0%;
			}
			&._left-center {
				left: 0;
				bottom: 10%;
			}
			&._left-top {
				bottom: 23%;
				right: 0;
			}
		}
		@media screen and (max-width: $breackpointXSMax) {
			padding: calc(0px + 10 * (100vw / 370));
			border-radius: calc(0px + 10 * (100vw / 370));
		}
	}
	.advantage__text {
		font-family: 'ubuntuMedium';
		color: $whiteColor;
		@media screen and (min-width: $breackpointXXLMin) {
			font-size: 1.6rem;
			line-height: 2.5rem;
		}
		@media screen and (max-width: $breackpointXLMax) {
			font-size: calc(1.4rem + 2 * ((100vw - 370px) / (1180 - 370)));
			line-height: calc(1.8rem + 7 * ((100vw - 370px) / (1180 - 370)));
		}
	}
	.advangtage__circle_big,
	.advantage__circle_small,
	.advantage__icon {
		@include flex(center, center);
		background-color: $backgroundPrimaryColor;
		border: 2px dashed $secondaryColor;
		border-radius: 50%;
	}
	.advangtage__circle_big {
		@media screen and (min-width: $breackpointXXLMin) {
			width: 570px;
			height: 570px;
		}
		@media screen and (max-width: $breackpointXLMax) {
			width: calc(295px + 275 * ((100vw - 370px) / (1180 - 370)));
			height: calc(295px + 275 * ((100vw - 370px) / (1180 - 370)));
		}
		@media screen and (max-width: $breackpointXSMax) {
			width: calc(0px + 295 * (100vw / 370));
			height: calc(0px + 295 * (100vw / 370));
		}
	}
	.advantage__circle_small {
		position: relative;
		@media screen and (min-width: $breackpointXXLMin) {
			width: 390px;
			height: 390px;
		}
		@media screen and (max-width: $breackpointXLMax) {
			width: calc(190px + 200 * ((100vw - 370px) / (1180 - 370)));
			height: calc(190px + 200 * ((100vw - 370px) / (1180 - 370)));
		}
		@media screen and (max-width: $breackpointXSMax) {
			width: calc(0px + 190 * (100vw / 370));
			height: calc(0px + 190 * (100vw / 370));
		}
	}
	.advantage__icon {
		position: absolute;
		color: $secondaryColor;
		transition: $delay;
		&._right-top {
			top: 5%;
			right: 5%;
		}
		&._right-center {
			right: -9%;
			top: 50%;
			transform: translate(0, -50%);
		}
		&._right-bottom {
			bottom: 5%;
			right: 5%;
		}
		&._left-bottom {
			left: 5%;
			bottom: 5%;
		}
		&._left-center {
			left: -9%;
			top: 50%;
			transform: translate(0, -50%);
		}
		&._left-top {
			top: 5%;
			left: 5%;
		}
		// &._icon-flower {
		// }
		// &._icon-like {
		// }
		// &._icon-wood {
		// }
		// &._icon-sheet {
		// }
		// &._icon-world {
		// }
		// &._icon-trees {
		// }
		@media screen and (min-width: $breackpointXXLMin) {
			width: 72px;
			height: 72px;
			font-size: 3.4rem;
		}
		@media screen and (max-width: $breackpointXLMax) {
			width: calc(36px + 36 * ((100vw - 370px) / (1180 - 370)));
			height: calc(36px + 36 * ((100vw - 370px) / (1180 - 370)));
			font-size: calc(1.7rem + 17 * ((100vw - 370px) / (1180 - 370)));
		}
		@media screen and (max-width: $breackpointXSMax) {
			width: calc(0px + 36 * (100vw / 370));
			height: calc(0px + 36 * (100vw / 370));
		}
	}
	.advantage__picture {
		width: 50%;
	}
	// .advantage__img {
	// }
}
