.footer {
	background-color: $backgroundSecondaryColor;
	// .footer__container {
	// }
	.footer__body {
		@include flex(flex-start, space-between);
		@media screen and (max-width: $breackpointMDMax) {
			align-items: center;
			flex-direction: column;
		}
		@media screen and (max-width: $breackpointSMMax) {
			align-items: stretch;
		}
	}
	.footer__contacts {
		@media screen and (max-width: $breackpointMDMax) {
			text-align: center;
		}
	}
	.footer__nav {
		@media screen and (min-width: $breackpointXLMin) {
			flex: auto;
			margin: 0 35px;
		}
		@media screen and (max-width: $breackpointMDMax) {
			margin: 50px 0;
		}
		@media screen and (max-width: $breackpointXSMax) {
			margin: calc(0px + 50 * (100vw / 370)) 0;
		}
	}
	.footer__form {
		@include flex(stretch, center, column);
	}
	.footer__input {
		@media screen and (min-width: $breackpointSMMin) {
			margin: 0 0 14px 0;
		}
		@media screen and (max-width: $breackpointXSMax) {
			margin: 0 0 calc(0px + 14 * (100vw / 370)) 0;
		}
	}
	// .footer__btn {
	// }
}
