.for {
  // .for__headline {
  // }
  // .for__content {
  // }
  .for__list {
    @include dFCB;
    flex-wrap: wrap;
  }
  .for__item {
    width: calc(25% - 10px);
    margin: 5px;
    padding: 25px 50px;
    text-align: center;
    transition: $delay;
    @media screen and (max-width: 992px) {
      width: calc(50% - 10px);
    }
    @media screen and (max-width: 768px) {
      width: 70%;
      margin: 5px auto;
    }
    @media screen and (max-width: 480px) {
      width: 100%;
    }
    @media screen and (hover: hover) {
      &:hover {
        background-color: $gray;
        .for__picture {
          .for__icon {
            svg {
              path {
                fill: $orangeD;
              }
            }
          }
        }
      }
    }
    &:active {
      background-color: $gray;
      .for__picture {
        .for__icon {
          svg {
            path {
              fill: $greenL;
            }
          }
        }
      }
    }
  }
  .for__wrapper {
    position: relative;
    margin: 0 auto 25px auto;
  }
  // .for__background {
  // }
  .for__img {
    svg {
      path {
        transition: $delay;
      }
    }
  }
  .for__picture {
    width: 55%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .for__icon {
    svg {
      path {
        fill: $greenD;
        transition: $delay;
      }
    }
  }
  // .for__title {
  // }
}
