.header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 3;
	width: 100%;
	background-color: $transparentBackgroundPrimaryColor;
	// .header__container {
	// }
	.header__body {
		@include flex(center, space-between);
	}
	// .header__logo {
	// }
	.header__menu {
		@include flex(center, space-between);
		@media screen and (min-width: $breackpointXLMin) {
			flex: auto;
		}
		@media screen and (max-width: $breackpointLGMax) {
			position: fixed;
			top: 0;
			right: -320px;
			flex-direction: column;
			width: 320px;
			height: 100vh;
			padding: 55px 0;
			background-color: $backgroundSecondaryColor;
			overflow: auto;
			transition: $delay;
		}
		@media screen and (max-width: $breackpointSMMax) {
			right: -100%;
			width: 100%;
		}
		@media screen and (max-width: $breackpointXSMax) {
			padding: calc(0px + 55 * (100vw / 370)) 0;
		}
		&._opened {
			right: 0;
		}
	}
	.header__nav {
		@media screen and (min-width: $breackpointXLMin) {
			flex: auto;
			margin: 0 100px 0 50px;
		}
	}
	.header__call {
		@include flex(center, center);
		@media screen and (max-width: $breackpointXLMax) {
			flex-direction: column;
		}
	}
	.header__phones {
		@media screen and (min-width: $breackpointSMMin) {
			margin: 0 0 10px 0;
		}
		@media screen and (min-width: $breackpointXXLMin) {
			margin: 0 30px 0 0;
		}
		@media screen and (max-width: $breackpointXSMax) {
			margin: 0 0 calc(0px + 10 * (100vw / 370)) 0;
		}
	}
	// .header__form {
	// }
	.header__btn {
		@media screen and (min-width: $breackpointSMMin) {
			width: 170px;
		}
	}
	.header__burger {
		@media screen and (min-width: $breackpointXLMin) {
			display: none;
		}
	}
	// .burger__burger-icon {
	// }
}
