.home {
	@include flex(center, space-between);
	background-color: $backgroundPrimaryColor;
	.home__baner {
		@media screen and (min-width: $breackpointLGMin) {
			width: calc(60% - 65px);
			margin: 0 60px 0 0;
		}
		@media screen and (max-width: $breackpointMDMax) {
			margin: 0 0 calc(25px + 15 * ((100vw - 370px) / (1180 - 370))) 0;
		}
		@media screen and (max-width: $breackpointXSMax) {
			margin: 0 0 calc(0px + 25 * (100vw / 370)) 0;
		}
	}
	.home__title {
		font-family: 'ubuntuBold';
		span {
			color: $primaryColor;
		}
		@media screen and (min-width: $breackpointXXLMin) {
			margin: 0 0 24px 0;
			font-size: 4.5rem;
			line-height: 5.2rem;
		}
		@media screen and (max-width: $breackpointXLMax) {
			margin: 0 0 calc(16px + 8 * ((100vw - 370px) / (1180 - 370))) 0;
			font-size: calc(3.5rem + 10 * ((100vw - 370px) / (1180 - 370)));
			line-height: calc(4.4rem + 9 * ((100vw - 370px) / (1180 - 370)));
		}
		@media screen and (max-width: $breackpointXSMax) {
			margin: 0 0 calc(0px + 16 * (100vw / 370)) 0;
		}
	}
	.home__description {
		font-size: 1.6rem;
		color: $textSecondaryColor;
		@media screen and (min-width: $breackpointXXLMin) {
			margin: 0 0 60px 0;
			line-height: 2.4rem;
		}
		@media screen and (max-width: $breackpointXLMax) {
			margin: 0 0 calc(32px + 28 * ((100vw - 370px) / (1180 - 370))) 0;
			line-height: calc(2.2rem + 2 * ((100vw - 370px) / (1180 - 370)));
		}
		@media screen and (max-width: $breackpointXSMax) {
			margin: 0 0 calc(0px + 32 * (100vw / 370)) 0;
		}
	}
	.home__form {
		@media screen and (max-width: $breackpointSMMax) {
			text-align: center;
		}
	}
	.home__btn {
		@media screen and (min-width: $breackpointMDMin) {
			width: 300px;
		}
		@media screen and (max-width: $breackpointSMMax) {
			width: 90%;
		}
	}
	.home__picture {
		@media screen and (min-width: $breackpointXXLMin) {
			width: calc(((1180px - 30px) / 100) * 40);
			height: calc(((1180px - 30px) / 100) * (445 / (453 / 40)));
		}
		@media screen and (max-width: $breackpointXLMax) {
			width: calc(((100vw - 30px) / 100) * 40);
			height: calc(((100vw - 30px) / 100) * (445 / (453 / 40)));
		}
		@media screen and (max-width: $breackpointMDMax) {
			width: calc(((100vw - 30px) / 100) * 90);
			height: calc(((100vw - 30px) / 100) * (445 / (453 / 90)));
		}
	}
	@media screen and (max-width: $breackpointMDMax) {
		flex-direction: column;
	}
}
