.home {
  @include dFB;
  @media screen and (max-width: 992px) {
    flex-direction: column;
  }
}
.home__content {
  @media screen and (min-width: 993px) {
    margin: 0 65px 0 0;
  }
}
.home__title {
  margin: 0 0 24px 0;
  font-family: "ubuntuBold";
  font-size: 45px;
  line-height: 52px;
  color: $blackD;
  span {
    color: $greenD;
  }
  @media screen and (max-width: 1280px) {
    margin: 0 0 calc(16px + 6 * ((100vw - 370px) / (1280 - 370))) 0;
    font-size: calc(36px + 9 * ((100vw - 370px) / (1280 - 370)));
    line-height: calc(44px + 8 * ((100vw - 370px) / (1280 - 370)));
  }
  @media screen and (max-width: 370px) {
    margin: 0 0 calc(0px + 16 * (100vw / 370)) 0;
    font-size: calc(0px + 36 * (100vw / 370));
    line-height: calc(0px + 44 * (100vw / 370));
  }
  @media screen and (max-width: 320px) {
    word-break: break-all;
  }
}
.home__description {
  margin: 0 0 60px 0;
  line-height: 24px;
  color: $blackL;
  @media screen and (max-width: 1280px) {
    margin: 0 0 calc(30px + 30 * ((100vw - 370px) / (1280 - 370))) 0;
  }
  @media screen and (max-width: 370px) {
    margin: 0 0 calc(0px + 30 * (100vw / 370)) 0;
    line-height: calc(0px + 24 * (100vw / 370));
  }
}
.home__button {
  width: 300px;
}
.home__picture {
  min-width: 445px;
  min-height: 450px;
  @media screen and (max-width: 992px) {
    min-width: 60%;
    min-height: 60%;
    margin: 30px auto 0;
  }
}
// .home__img {
// }
