.products {
	background-color: $backgroundPrimaryColor;
	overflow: hidden;
	.products__header {
		@include flex(flex-start, space-between);
	}
	// .products__headline {
	// }
	.products__nav {
		.products__arrow {
			background-color: $backgroundPrimaryColor;
			border: 1px solid $secondaryColor;
			border-radius: 50%;
			transition: $delay;
			&._arrow-prev {
				@media screen and (min-width: $breackpointXXLMin) {
					margin: 0 34px 0 0;
				}
				@media screen and (max-width: $breackpointXLMax) {
					margin: 0 calc(18px + 16 * ((100vw - 370px) / (1180 - 370))) 0 0;
				}
				@media screen and (max-width: $breackpointXSMax) {
					margin: 0 calc(0px + 18 * (100vw / 370)) 0 0;
				}
			}
			// &._arrow-next {
			// }
			&._disable {
				opacity: 0.4;
				cursor: not-allowed;
			}
			&:not(._disable) {
				@media screen and (hover: hover) {
					&:hover {
						background-color: $transparentSecondaryColor;
					}
				}
				&:active {
					.products__icon {
						&._icon-arrow-left {
							margin: 0 30% 0 0;
						}
						&._icon-arrow-right {
							margin: 0 0 0 30%;
						}
					}
				}
			}
			@media screen and (min-width: $breackpointXXLMin) {
				width: 50px;
				height: 50px;
			}
			@media screen and (max-width: $breackpointXLMax) {
				width: calc(32px + 18 * ((100vw - 370px) / (1180 - 370)));
				height: calc(32px + 18 * ((100vw - 370px) / (1180 - 370)));
			}
			@media screen and (max-width: $breackpointXSMax) {
				width: calc(0px + 32 * (100vw / 370));
				height: calc(0px + 32 * (100vw / 370));
			}
		}
		.products__icon {
			color: $secondaryColor;
			transition: $delay;
			pointer-events: none;
			// &._icon-arrow-left {
			// }
			// &._icon-arrow-right {
			// }
			@media screen and (min-width: $breackpointXXLMin) {
				font-size: 1.4rem;
			}
			@media screen and (max-width: $breackpointXLMax) {
				font-size: calc(0.8rem + 6 * ((100vw - 370px) / (1180 - 370)));
			}
		}
	}
	.products__content {
		position: relative;
	}
	.products__slider {
		@include flex(flex-start, space-between);
		transition: $longDelay	;
		@media screen and (max-width: $breackpointXLMax) {
			justify-content: flex-start;
		}
		.products__slide {
			@media screen and (min-width: $breackpointLGMin) {
				min-width: 33.333%;
				margin: 0;
				padding: 0 15px;
			}
			@media screen and (min-width: $breackpointXXLMin) {
				margin: 0 33.333% 0 0;
			}
			@media screen and (max-width: $breackpointXLMax) {
				padding: 0 calc(10px + 5 * ((100vw - 370px) / (1180 - 370)));
			}
			@media screen and (max-width: $breackpointMDMax) {
				min-width: 50%;
			}
			@media screen and (max-width: $breackpointSMMax) {
				min-width: 70%;
				padding: 0 20px 0 0;
			}
			@media screen and (max-width: $breackpointXSMax) {
				padding: 0 calc(0px + 20 * (100vw / 370)) 0 0;
			}
		}
		.products__slide-picture {
			@media screen and (min-width: $breackpointXXLMin) {
				margin: 0 0 18px 0;
			}
			@media screen and (max-width: $breackpointXLMax) {
				margin: 0 0 calc(12px + 6 * ((100vw - 370px) / (1180 - 370))) 0;
			}
			@media screen and (max-width: $breackpointXSMax) {
				margin: 0 0 calc(0px + 12 * (100vw / 370)) 0;
			}
		}
		// .products__slide-img {
		// }
		.products__slide-title {
			font-family: 'ubuntuBold';
			font-size: 1.8rem;
			@media screen and (min-width: $breackpointXXLMin) {
				margin: 0 0 18px 0;
			}
			@media screen and (max-width: $breackpointXLMax) {
				margin: 0 0 calc(12px + 6 * ((100vw - 370px) / (1180 - 370))) 0;
			}
			@media screen and (max-width: $breackpointXSMax) {
				margin: 0 0 calc(0px + 12 * (100vw / 370)) 0;
			}
		}
		.products__slide-description {
			font-size: 1.6rem;
			line-height: 2.1rem;
			color: $textSecondaryColor;
			span {
				font-family: 'ubuntuMedium';
			}
		}
	}
	.products__card {
		background-color: $transparentBackgroundPrimaryColor;
		.products__card-body {
			background-color: $primaryColor;
			@media screen and (min-width: $breackpointSMMin) {
				padding: 30px 40px;
				border-radius: 8px;
			}
			@media screen and (max-width: $breackpointXSMax) {
				padding: calc(0px + 30 * (100vw / 370)) calc(0px + 40 * (100vw / 370));
				border-radius: calc(0px + 8 * (100vw / 370));
			}
		}
		.products__card-title {
			font-family: 'ubuntuMedium';
			color: $whiteColor;
			@media screen and (min-width: $breackpointSMMin) {
				margin: 0 0 24px 0;
			}
			@media screen and (min-width: $breackpointXXLMin) {
				font-size: 3.2rem;
				line-height: 4.1rem;
			}
			@media screen and (max-width: $breackpointXLMax) {
				font-size: calc(2.4rem + 8 * ((100vw - 370px) / (1180 - 370)));
				line-height: calc(3.2rem + 9 * ((100vw - 370px) / (1180 - 370)));
			}
			@media screen and (max-width: $breackpointXSMax) {
				margin: 0 0 calc(0px + 24 * (100vw / 370)) 0;
			}
		}
		.products__card-description {
			font-size: 1.6rem;
			line-height: 2.4rem;
			color: $whiteColor;
			@include removeMB;
			@media screen and (min-width: $breackpointXXLMin) {
				margin: 0 0 60px 0;
			}
			@media screen and (max-width: $breackpointXLMax) {
				margin: 0 0 calc(40px + 20 * ((100vw - 370px) / (1180 - 370))) 0;
			}
			@media screen and (max-width: $breackpointXSMax) {
				margin: 0 0 calc(0px + 40 * (100vw / 370)) 0;
			}
		}
		.products__card-text {
			@media screen and (min-width: $breackpointSMMin) {
				margin: 0 0 12px 0;
			}
			@media screen and (max-width: $breackpointXSMax) {
				margin: 0 0 calc(0px + 12 * (100vw / 370)) 0;
			}
		}
		// .products__card-form {
		// }
		.products__card-btn {
			@media screen and (min-width: $breackpointXXLMin) {
				width: 100%;
			}
			@media screen and (max-width: $breackpointXLMax) {
				width: 300px;
			}
			@media screen and (max-width: $breackpointSMMax) {
				width: 100%;
			}
		}
		.products__card-pogination {
			@include flex(center, center, column);
			@media screen and (min-width: $breackpointXXLMin) {
				margin: 24px 0 0 0;
			}
			@media screen and (max-width: $breackpointXLMax) {
				margin: 0 0 24px 0;
			}
			@media screen and (max-width: $breackpointXSMax) {
				margin: 0 0 calc(0px + 24 * (100vw / 370)) 0;
			}
		}
		.products__card-track {
			background-color: $transparentSecondaryColor;
			border-radius: 8px;
			overflow: hidden;
			@media screen and (min-width: $breackpointSMMin) {
				width: 120px;
				height: 6px;
				margin: 0 0 21px 0;
			}
			@media screen and (max-width: $breackpointXLMax) {
				margin: 0 0 calc(16px + 5 * ((100vw - 370px) / (1180 - 370))) 0;
			}
			@media screen and (max-width: $breackpointXSMax) {
				width: calc(0px + 120 * (100vw / 370));
				height: calc(0px + 6 * (100vw / 370));
				margin: 0 0 calc(0px + 16 * (100vw / 370)) 0;
			}
		}
		.products__card-thumb {
			width: 30%;
			height: 100%;
			background-color: $secondaryColor;
		}
		.products__card-slide-numbers {
			font-size: 1.6rem;
		}
		.products__card-curret-slide-number {
			font-family: 'ubuntuBold';
			font-size: 2.1rem;
		}
		.products__card-total-slides {
			color: $textSecondaryColor;
		}
		@media screen and (min-width: $breackpointXXLMin) {
			position: absolute;
			left: 50%;
			top: 0;
			transform: translate(-50%, 0);
			width: calc(33.333% - 20px);
		}
		@media screen and (max-width: $breackpointXLMax) {
			@include flex(center, center, column-reverse);
			margin: calc(24px + 26 * ((100vw - 370px) / (1180 - 370))) 0 0 0;
		}
		@media screen and (max-width: $breackpointXSMax) {
			margin: calc(0px + 24 * (100vw / 370)) 0 0 0;
		}
	}
}
