.send {
  position: relative;
  .send__container {
    @media screen and (min-width: 1025px) {
      box-shadow: 0px 4px 40px rgba(148, 196, 40, 0.25);
      border-radius: 8px;
    }
  }
  .send__wrapper {
    @media screen and (min-width: 769px) {
      padding: 80px 65px;
      width: 50%;
      margin: auto 0 auto auto;
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
      width: 80%;
      margin: 0 auto;
    }
    @media screen and (max-width: 480px) {
      width: 100%;
    }
  }
  // .send__content {
  // }
  .send__title {
    font-family: "ubuntuBold";
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 24px;
    @media screen and (max-width: 1280px) {
      margin: 0 0 calc(16px + 8 * ((100vw - 370px) / (1280 - 370))) 0;
      font-size: calc(24px + 8 * ((100vw - 370px) / (1280 - 370)));
      line-height: calc(32px + 8 * ((100vw - 370px) / (1280 - 370)));
    }
    @media screen and (max-width: 370px) {
      margin: 0 0 calc(0px + 16 * (100vw / 370)) 0;
      font-size: calc(0px + 24 * (100vw / 370));
      line-height: calc(0px + 32 * (100vw / 370));
    }
  }
  .send__message {
    margin-bottom: 41px;
    @media screen and (max-width: 1280px) {
      margin: 0 0 calc(24px + 17 * ((100vw - 370px) / (1280 - 370))) 0;
    }
    @media screen and (max-width: 370px) {
      margin: 0 0 calc(0px + 17 * (100vw / 370)) 0;
    }
  }
  .send__picture {
    @media screen and (min-width: 769px) {
      width: calc(50% - 80px);
      position: absolute;
      left: 65px;
      top: 50%;
      transform: translate(0, -50%);
    }
    @media screen and (max-width: 768px) {
      margin: 0 0 24px 0;
    }
    @media screen and (max-width: 370px) {
      margin: 0 0 calc(0px + 24 * (100vw / 370)) 0;
    }
  }
  // .send__img {
  // }
  .send__form {
    @include dFCS;
    flex-wrap: wrap;
    @media screen and (max-width: 992px) {
      flex-direction: column;
      & > * {
        width: 100%;
        margin: 0 0 10px 0;
        @media screen and (max-width: 370px) {
          margin: 0 0 calc(0px + 10 * (100vw / 370)) 0;
        }
      }
    }
  }
  .send__input {
    @media screen and (min-width: 993px) {
      &._name {
        margin-right: 10px;
        width: 45%;
      }
      &._phone {
        width: calc(55% - 10px);
      }
    }
  }
  .send__btn {
    @media screen and (min-width: 993px) {
      width: 300px;
      margin-top: 25px;
    }
  }
}
