.burger-icon {
	position: relative;
	cursor: pointer;
	background-color: $transparent;
	.burger-icon__line,
	&::before,
	&::after {
		content: '';
		position: absolute;
		right: 0;
		height: calc(100% / 6);
		background-color: $balckColor;
		border-radius: 4px;
		transition: $delay;
		pointer-events: none;
	}
	.burger-icon__line {
		top: 50%;
		width: 75%;
		transform: translate(0, -50%);
	}
	&::before {
		top: 0;
		width: 100%;
	}
	&::after {
		bottom: 0;
		width: 50%;
	}
	@media screen and (hover: hover) {
		&:hover {
			.burger-icon__line,
			&::before,
			&::after {
				width: 100%;
			}
		}
	}
	&:active {
		.burger-icon__line,
		&::before,
		&::after {
			background-color: $secondaryColor;
		}
	}
	@media screen and (min-width: $breackpointSMMin) {
		width: 25px;
		height: 20px;
	}
	@media screen and (max-width: $breackpointXSMax) {
		width: calc(0px + 25 * (100vw / 370));
		height: calc(0px + 20 * (100vw / 370));
	}
	&._close-icon {
		.burger-icon__line {
			top: 50%;
			transform: scale(0);
		}
		&::after {
			bottom: 43%;
			width: 100%;
			background-color: $errorColor;
			transform: rotate(-45deg);
		}
		&::before {
			top: 38%;
			background-color: $errorColor;
			transform: rotate(45deg);
		}
	}
}
