.card-products {
  .card-products__wrapper {
    padding: 30px 35px 40px;
    background-color: $greenD;
    border-radius: 8px;
    @media screen and (max-width: 370px) {
      padding: calc(0px + 40 * (100vw / 370)) calc(0px + 35 * (100vw / 370));
    }
  }
  .card-products__title {
    margin: 0 0 24px 0;
    font-family: "ubuntuMedium";
    font-size: 35px;
    line-height: 41px;
    color: $white;
    @media screen and (max-width: 1280px) {
      font-size: calc(24px + 11 * ((100vw - 370px) / (1280 - 370)));
      line-height: calc(32px + 9 * ((100vw - 370px) / (1280 - 370)));
    }
    @media screen and (max-width: 370px) {
      margin: 0 0 calc(0px + 24 * (100vw / 370)) 0;
      font-size: calc(0px + 24 * (100vw / 370));
      line-height: calc(0px + 32 * (100vw / 370));
      word-break: break-all;
    }
  }
  .card-products__text {
    margin: 0 0 12px 0;
    color: $white;
    @media screen and (max-width: 370px) {
      margin: 0 0 calc(0px + 12 * (100vw / 370)) 0;
    }
  }
  .card-products__description {
    margin: 0 0 30px 0;
    @media screen and (max-width: 370px) {
      margin: 0 0 calc(0px + 30 * (100vw / 370)) 0;
    }
  }
  // .card-products__form {
  // }
  .card-products__btn {
    width: 100%;
    @media screen and (max-width: 1280px) and (min-width: 481px) {
      width: 300px;
    }
  }
  // .card-products__pogination {
  // }
}
