.contacts {
	background-color: $transparent;
	.contacts__list {
		@include removeMB;
	}
	.contacts__item {
		font-size: 1.6rem;
		line-height: 2.2rem;
		@media screen and (min-width: $breackpointSMMin) {
			margin: 0 0 28px 0;
		}
		@media screen and (max-width: $breackpointXSMax) {
			margin: 0 0 calc(0px + 28 * (100vw / 370)) 0;
		}
	}
	.contacts__link {
		color: inherit;
		transition: $delay;
		@media screen and (hover: hover) {
			&:hover {
				opacity: 0.3;
			}
		}
		@media screen and (min-width: $breackpointSMMin) {
			&:active {
				.contacts__icon {
					margin: 0 5px 0 10px;
				}
			}
		}
	}
	.contacts__icon {
		display: inline-block;
		text-align: center;
		transition: $delay;
		// &._icon-location {
		// }
		// &._icon-mail {
		// }
		// &._icon-phone {
		// }
		// &._icon-watch {
		// }
		@media screen and (min-width: $breackpointSMMin) {
			width: 18px;
			margin: 0 15px 0 0;
			font-size: 1.8rem;
		}
		@media screen and (max-width: $breackpointXSMax) {
			width: calc(0px + 18 * (100vw / 370));
			margin: 0 calc(0rem + 15 * (100vw / 370)) 0 0;
			font-size: calc(0rem + 18 * (100vw / 370));
		}
	}
	// .contacts__text {
	// }
}
