.loader {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden;
	background-color: $blackT;
	opacity: 0;
	transition: $longDelay;

	&._show {
		top: 0;
		visibility: visible;
		opacity: 1;
	}
}

.loader-line {
	display: inline-block;
	margin: 2px;
	background-color: $black;

	&:nth-child(1) {
		animation-name: loader-line-1;
	}

	&:nth-child(2) {
		animation-name: loader-line-2;
	}

	&:nth-child(3) {
		animation-name: loader-line-3;
	}

	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

@keyframes loader-line-1 {
	0% {
		width: 3px;
		height: 5px;
	}

	25% {
		width: 10px;
		height: 30px;
	}

	100% {
		width: 3px;
		height: 5px;
	}
}

@keyframes loader-line-2 {
	0% {
		width: 3px;
		height: 5px;
	}

	50% {
		width: 10px;
		height: 30px;
	}

	100% {
		width: 3px;
		height: 5px;
	}
}

@keyframes loader-line-3 {
	0% {
		width: 3px;
		height: 5px;
	}

	75% {
		width: 10px;
		height: 30px;
	}

	100% {
		width: 3px;
		height: 5px;
	}
}
