$minWidth: 3px;
$maxWidth: 10px;
$minHeight: 5px;
$maxHeight: 30px;

.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  @include flex(center, center);
  background-color: $backgroundSecondaryColor;
  opacity: 0;
  visibility: hidden;
  transition: $longDelay;
  .loader-line {
    display: inline-block;
    margin: 2px;
    border-radius: 2px;
    &:nth-child(1) {
      animation-name: loaderLineOne;
    }
    &:nth-child(2) {
      animation-name: loaderLineTwo;
    }
    &:nth-child(3) {
      animation-name: loaderLineThree;
    }
    background-color: $textSecondaryColor;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }
  @keyframes loaderLineOne {
    0% {
      width: $minWidth;
      height: $minHeight;
    }
    25% {
      width: $maxWidth;
      height: $maxHeight;
    }
    100% {
      width: $minWidth;
      height: $minHeight;
    }
  }
  @keyframes loaderLineTwo {
    0% {
      width: $minWidth;
      height: $minHeight;
    }
    50% {
      width: $maxWidth;
      height: $maxHeight;
    }
    100% {
      width: $minWidth;
      height: $minHeight;
    }
  }
  @keyframes loaderLineThree {
    0% {
      width: $minWidth;
      height: $minHeight;
    }
    75% {
      width: $maxWidth;
      height: $maxHeight;
    }
    100% {
      width: $minWidth;
      height: $minHeight;
    }
  }
  &._show {
    opacity: 1;
    visibility: visible;
  }
}