.logo {
	.logo__picture {
    display: block;
		@media screen and (min-width: $breackpointSMMin) { // 103 198
      width: 50px;
      height: calc((50px / 103) * 198);
		}
		@media screen and (max-width: $breackpointXSMax) {
			width: calc(0px + 50 * (100vw / 370));
			height: calc(0px + ((50 / 103) * 198) * (100vw / 370));
		}
	}
  // .logo__img {
  // }
}
