.phones {
	background-color: $transparent;
	// .phones__list {
	// }
	// .phones__item {
	// }
	.phones__link {
		display: inline-block;
		@media screen and (hover: hover) {
			&:hover {
				.phones__number {
					color: $primaryColor;
				}
				@media screen and (min-width: $breackpointSMMin) {
					.phones__icon {
						margin: 0 5px 0 10px;
					}
				}
			}
		}
		&:active {
			.phones__icon {
				transform: rotate(45deg);
			}
		}
		@media screen and (min-width: $breackpointSMMin) {
			padding: 5px 0;
		}
		@media screen and (max-width: $breackpointXSMax) {
			padding: calc(0px + 5 * (100vw / 370)) 0;
		}
	}
	.phones__icon {
		display: inline-block;
		font-size: 1.8rem;
		color: $primaryColor;
		transition: $delay;
		// &._icon-phone {
		// }
		@media screen and (min-width: $breackpointSMMin) {
			margin: 0 15px 0 0;
		}
		@media screen and (max-width: $breackpointXSMax) {
			margin: 0 calc(0px + 15 * (100vw / 370)) 0 0;
		}
	}
	.phones__number {
		font-size: 1.6rem;
		color: $textSecondaryColor;
		transition: $delay;
	}
}
