.pogination {
  width: 100%;
  padding: 24px 0;
  text-align: center;
  @media screen and (max-width: 768px) {
    padding: 16px;
  }
  @media screen and (max-width: 370px) {
    padding: calc(0px + 16 * (100vw / 370)) 0;
  }
  .products__card-track {
    width: 30%;
    height: 6px;
    margin: 0 auto 24px;
    background-color: $orangeL;
    border-radius: 8px;
    overflow: hidden;
    @media screen and (max-width: 370px) {
      height: calc(0px + 6 * (100vw / 370));
      margin: 0 auto calc(0px + 24 * (100vw / 370));
    }
  }
  .products__card-thumb {
    width: 30%;
    height: 100%;
    background-color: $orangeD;
  }
  .products__card-slide-numbers {
    color: $gray;
  }
  .products__card-curret-slide-number {
    font-family: "ubuntuBold";
    font-size: 1.4em;
    color: $dark;
  }
  .products__card-all-slide-number {
    @media screen and (max-width: 1280px) {
      margin: 0 0 calc(24px + 10 * ((100vw - 370px) / (1280 - 370))) 0;
    }
  }
}
