.slider {
	// @include dFCS;
	// .slider__item {
	// }
	.slide {
		@media screen and (min-width: 1281px) {
      min-width: 33.333%;
			margin: 0 calc(33.333%) 0 0;
		}
		@media screen and (max-width: 1280px) {
			width: 33.333%;
		}
		@media screen and (max-width: 992px) {
			min-width: 50%;
		}
		@media screen and (max-width: 480px) {
			min-width: 80%;
		}
	}
	.slide__wrapper {
		padding: 0 20px;
	}
	.slide__image {
		margin: 0 0 18px 0;
		@media screen and (max-width: 370px) {
			margin: 0 0 calc(0px + 18 * (100vw / 370)) 0;
		}
	}
	// .slide__img {
	// }
	.slide__title {
		margin: 0 0 18px 0;
		font-family: 'ubuntuBold';
		font-size: 18px;
		@media screen and (max-width: 370px) {
			font-size: calc(0px + 18 * (100vw / 370));
			margin: 0 0 calc(0px + 18 * (100vw / 370)) 0;
		}
	}
	.slide__description {
		line-height: 21px;
		span {
			font-family: 'ubuntuMedium';
		}
		@media screen and (max-width: 370px) {
			line-height: calc(0px + 21 * (100vw / 370));
		}
	}
}
