.nav {
  .nav__list {
    @include dFB;
    flex-wrap: nowrap;
    @media screen and (max-width: 992px) { // for burger
      align-items: center;
      flex-direction: column;
    }
  }
  .nav__item {
    @media screen and (max-width: 992px) { // for burger
      margin: 20px 10px;
    }
  }
  .nav__link {
    position: relative;
    padding: 5px 10px;
    font-size: 16px;
    color: $blackD;
    transition: $delay;
    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: transparent;
      transition: $delay;
      user-select: none;
      pointer-events: none;
    }
    &::before {
      top: 50%;
      left: -10%;
      transform: translate(0, -50%);
      width: 5px;
      height: 5px;
      border-radius: 50%;
    }
    &::after {
      left: 10%;
      bottom: 0;
      width: 100%;
      height: 2px;
      border-radius: 5px;
    }
    @media screen and (hover: hover) {
      &:hover {
        &::before,
        &::after {
          left: 0;
          background-color: $greenD;
        }
      }
    }
    &:active {
      &::before,
      &::after {
        left: 0;
        background-color: $greenD;
      }
    }
  }
}
