.header {
  // .header__container {
  // }
  .header__body {
    position: relative;
    @include dFB;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  // .header__logo {
  // }
  .header__menu {
    flex: auto;
    @include dFB;
    @media screen and (max-width: 992px) {
      position: absolute;
      top: 0;
      right: -320px;
      flex-direction: column;
      width: 320px;
      height: 100vh;
      padding: 40px 0;
      background-color: $orangeL;
      overflow: auto;
      transition: $delay;
    }
    @media screen and (max-width: 480px) {
      right: -100%;
      width: 100%;
    }
  }
  .header__nav {
    flex: auto;
    margin: 0 105px 0 35px; // no margin at nav__item
    @media screen and (max-width: 1024px) {
      margin: 0 80px 0 35px;
    }
    @media screen and (max-width: 992px) { // for burger
      margin: 0 0 40px 0;
    }
  }
  .header__call {
    @include dFC;
    @media screen and (max-width: 1280px) {
      flex-direction: column;
    }
  }
  .header__phones {
    margin: 0 30px 0 0;
    @media screen and (max-width: 992px) { // for burger
      margin: 0;
    }
  }
  // .header__btn_request-call {
  // }
  .header__burger {
    @media screen and (min-width: 993px) {
      display: none;
    }
  }
  &._show-menu {
    .header__menu {
      right: 0; 
    }
  }
}
