@font-face {
  font-family: "ubuntuBold";
  src: url(../../assets/fonts/ubuntuBold.ttf);
}
@font-face {
  font-family: "ubuntuMedium";
  src: url(../../assets/fonts/ubuntuMedium.ttf);
}
@font-face {
  font-family: "ubuntuRegular";
  src: url(../../assets/fonts/ubuntuRegular.ttf);
}
