._indent {
	@media screen and (min-width: $breackpointXXLMin) {
		padding: 50px 0;
	}
	@media screen and (max-width: $breackpointXLMax) {
		padding: calc(12px + 38 * ((100vw - 370px) / (1180 - 370))) 0;
	}
	@media screen and (max-width: $breackpointXSMax) {
		padding: calc(0px + 12 * (100vw / 370)) 0;
	}
}
._container {
	max-width: 1210px;
	margin: 0 auto;
}
._body {
	@media screen and (min-width: $breackpointSMMin) {
		padding: 0 15px;
	}
	@media screen and (max-width: $breackpointXSMax) {
		padding: 0 calc(0px + 15 * (100vw / 370));
	}
}
._btn {
	display: inline-block;
	text-align: center;
	font-family: 'ubuntuMedium';
	font-size: 1.8rem;
	color: $whiteColor;
	background-color: $secondaryColor;
	transition: $delay;
	user-select: none;
	&._big {
		font-family: 'ubuntuBold';
	}
	&._small {
		font-size: 1.4rem;
	}
	&._green {
		background-color: $primaryColor;
	}
	&._disable {
		opacity: 0.6;
		pointer-events: none;
	}
	&:not(._disable) {
		@media screen and (hover: hover) {
			&:hover {
				background-color: $transparentSecondaryColor;
				&._green {
					background-color: $transparentPrimaryColor;
				}
			}
		}
		&:active {
			color: $secondaryColor;
			background-color: $transparentSecondaryColor;
			&._green {
				color: $primaryColor;
				background-color: $transparentPrimaryColor;
			}
		}
	}
	@media screen and (min-width: $breackpointSMMin) {
		padding: 19px;
		border-radius: 40px;
		&._big {
			padding: 24px;
			border-radius: 60px;
		}
		&._small {
			padding: 14px;
		}
		&._shadow {
			box-shadow: 0px 8px 25px rgba(175, 108, 20, 0.25);
		}
	}
	@media screen and (max-width: $breackpointXSMax) {
		padding: calc(0px + 19 * (100vw / 370));
		border-radius: calc(0px + 40 * (100vw / 370));
		&._big {
			padding: calc(0px + 24 * (100vw / 370));
			border-radius: calc(0px + 60 * (100vw / 370));
		}
		&._small {
			padding: calc(0px + 14 * (100vw / 370));
		}
		&._shadow {
			box-shadow: 0px calc(0px + 8 * (100vw / 370)) calc(0px + 25 * (100vw / 370)) rgba(175, 108, 20, 0.25);
		}
	}
}
._input {
	font-size: 1.6rem;
	color: $textSecondaryColor;
	background-color: $transparent;
	border: 2px solid $transparentSecondaryColor;
	transition: $delay;
	&._green {
		border-color: $transparentPrimaryColor;
	}
	&._small {
		font-size: 1.4rem;
	}
	@media screen and (hover: hover) {
		&:hover {
			border-color: $secondaryColor;
			&._green {
				border-color: $primaryColor;
			}
		}
	}
	&:active,
	&:focus {
		background-color: $transparentSecondaryColor;
		border-color: $secondaryColor;
		&._green {
			background-color: $transparentPrimaryColor;
			border-color: $primaryColor;
		}
	}
	@media screen and (min-width: $breackpointSMMin) {
		padding: 14px 24px;
		border-radius: 40px;
		&._small {
			padding: 15px 24px;
		}
	}
	@media screen and (max-width: $breackpointXSMax) {
		padding: calc(0px + 14 * (100vw / 370)) calc(0px + 24 * (100vw / 370));
		border-radius: calc(0px + 40 * (100vw / 370));
		&._small {
			padding: calc(0px + 15 * (100vw / 370)) calc(0px + 24 * (100vw / 370));
		}
	}
}
._img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}
