@font-face {
	font-family: 'icons';
	src: url('../assets/fonts/icons.eot?wqhoi5');
	src: url('../assets/fonts/icons.eot?wqhoi5#iefix') format('embedded-opentype'), url('../assets/fonts/icons.ttf?wqhoi5') format('truetype'),
		url('../assets/fonts/icons.woff?wqhoi5') format('woff'), url('../assets/fonts/icons.svg?wqhoi5#icons') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^='_icon-']::before,
[class*=' _icon-']::before {
	font-family: 'icons' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

._icon-world:before {
	content: '\e900';
}
._icon-wood:before {
	content: '\e901';
}
._icon-watch:before {
	content: '\e902';
}
._icon-trees:before {
	content: '\e903';
}
._icon-sheet:before {
	content: '\e904';
}
._icon-phone:before {
	content: '\e905';
}
._icon-mail:before {
	content: '\e906';
}
._icon-location:before {
	content: '\e907';
}
._icon-like:before {
	content: '\e908';
}
._icon-holiday:before {
	content: '\e909';
}
._icon-flower:before {
	content: '\e90a';
}
._icon-dish:before {
	content: '\e90b';
}
._icon-disco:before {
	content: '\e90c';
}
._icon-dinner:before {
	content: '\e90d';
}
._icon-coffee:before {
	content: '\e90e';
}
._icon-burger:before {
	content: '\e90f';
}
._icon-balloons:before {
	content: '\e910';
}
._icon-arrow-right:before {
	content: '\e911';
}
._icon-arrow-left:before {
	content: '\e912';
}
