$white: #ffffff;
$gray: #e3e3e5;
$beigeD: #927e66;
$beigeL: #faddbc;
$orangeD: #e78c14;
$orangeL: #fddcb0;
$red: #e42121;
$greenD: #708a34;
$greenL: #e9f8db;
$dark: #383838;
$blackD: #1d2310;
$blackL: #292b27;
$black: #000000;
$delay: 0.2s ease-in-out;

@mixin removeMB {
  & > :last-child {
    margin-bottom: 0;
  }
}
@mixin dFC {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin dFB {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin dFE {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* ----- fonts */
@import "./fonts";
/* fonts ----- */

/* ----- reset */
@import "./reset";
/* reset ----- */

/* ----- common */
@import "./common";
/* common ----- */

/* ----- logo */
@import "./components/logo";
/* logo ----- */

/* ----- nav */
@import "./components/nav";
/* nav ----- */

/* ----- phones */
@import "./components/phones";
/* phones ----- */

/* ----- burger */
@import "./components/burger";
/* burger ----- */

/* ----- header */
@import "./blocks/header";
/* header ----- */

/* ----- home */
@import "./blocks/home";
/* home ----- */

/* ----- about */
@import "./blocks/about";
/* about ----- */

body {
  &._overflow-hidden {
    overflow: hidden;
  }
}
.wrapper {
  overflow: hidden;
  min-height: 100vh;
}
// .main {
//   .main__container {
//   }
//   .main__body {
//   .main__home {
//   }
//   .main__about {
//   }
//   }
// }

// @media screen and (hover: hover) {}
// @media screen and (hover: none) {}
// @media screen and (max-width: 370px) {}
// @media screen and (min-width: 371px) {}
// @media screen and (max-width: 480px) {}
// @media screen and (min-width: 481px) {}
// @media screen and (max-width: 768px) {}
// @media screen and (min-width: 769px) {}
// @media screen and (max-width: 992px) {}
// @media screen and (min-width: 993px) {}
// @media screen and (max-width: 1024px) {}
// @media screen and (min-width: 1025px) {}
// @media screen and (max-width: 1280px) {}
// @media screen and (min-width: 1281px) {}
// @media screen and (min-width: 1801px) {}
