$white: #ffffff;
$gray: #e3e3e5;
$blue: #f5f8fe;
$beigeD: #927e66;
$beigeL: #faddbc;
$orangeD: #e78c14;
$orangeL: #fddcb0;
$red: #e42121;
$greenD: #708a34;
$greenL: #e9f8db;
$dark: #383838;
$blackD: #1d2310;
$blackL: #292b27;
$blackT: #000000cb;
$black: #000000;
$delay: 0.2s ease-in-out;
$longDelay: 0.6s ease-in-out;

@mixin removeMB {
	& > :last-child {
		margin-bottom: 0;
	}
}
@mixin removeMR {
	& > :last-child {
		margin-right: 0;
	}
}
@mixin dFCC {
	display: flex;
	align-items: center;
	justify-content: center;
}
@mixin dFCB {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
@mixin dFCE {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
@mixin dFCS {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
@mixin dFSB {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

/* ----- fonts */
@import './fonts';
/* fonts ----- */

/* ----- icons */
@import './icons';
/* icons ----- */

/* ----- reset */
@import './reset';
/* reset ----- */

/* ----- common */
@import './common';
/* common ----- */


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// OK

/* ----- burger */
@import './components/burger-icon';
/* burger ----- */

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// OK


/* ----- loader */
@import './components/loader';
/* loader ----- */

/* ----- logo */
@import './components/logo';
/* logo ----- */

/* ----- nav */
@import './components/nav';
/* nav ----- */

/* ----- phones */
@import './components/phones';
/* phones ----- */


/* ----- headline */
@import './components/headline';
/* headline ----- */

/* ----- card-contacts */
@import './components/card-contacts';
/* card-contacts ----- */

/* ----- slider */
@import './components/slider';
/* slider ----- */

/* ----- card-products */
@import './components/card-products';
/* card-products ----- */

/* ----- pogination */
@import './components/pogination';
/* pogination ----- */

/* ----- modal */
@import './components/modal';
/* modal ----- */

/* ----- header */
@import './blocks/header';
/* header ----- */

/* ----- home */
@import './blocks/home';
/* home ----- */

/* ----- about */
@import './blocks/about';
/* about ----- */

/* ----- advantage */
@import './blocks/advantage';
/* advantage ----- */

/* ----- for */
@import './blocks/for';
/* for ----- */

/* ----- products */
@import './blocks/products';
/* products ----- */

/* ----- send */
@import './blocks/send';
/* send ----- */

/* ----- maps */
@import './blocks/maps';
/* maps ----- */

/* ----- footer */
@import './blocks/footer';
/* footer ----- */

body {
	&._overflow-hidden {
		overflow: hidden;
	}
	// &._show-loader {

	// }
}
.wrapper {
	overflow: hidden;
	min-height: 100vh;
}
// .main {
// 	.main__container {
// 	}
// 	.main__body {
// 		.main__home {
// 		}
// 		.main__about {
// 		}
// 		.main__advantage {
// 		}
// 		.main__for {
// 		}
// 		.main__products {
// 		}
// 		.main__send {
// 		}
// 		.main__maps {
// 		}
// 	}
// }

// @media screen and (hover: hover) {}
// @media screen and (hover: none) {}
// @media screen and (max-width: 320px) {}
// @media screen and (min-width: 321px) {}
// @media screen and (max-width: 370px) {}
// @media screen and (min-width: 371px) {}
// @media screen and (max-width: 480px) {}
// @media screen and (min-width: 481px) {}
// @media screen and (max-width: 768px) {}
// @media screen and (min-width: 769px) {}
// @media screen and (max-width: 992px) {}
// @media screen and (min-width: 993px) {}
// @media screen and (max-width: 1024px) {}
// @media screen and (min-width: 1025px) {}
// @media screen and (max-width: 1280px) {}
// @media screen and (min-width: 1281px) {}
// @media screen and (min-width: 1801px) {}
