$transparent: transparent;
$whiteColor: #ffffff;
$balckColor: #000000;
$errorColor: #e42121;
$primaryColor: #708a34;
$secondaryColor: #e78c14;
$transparentPrimaryColor: #d6eaa8;
$transparentSecondaryColor: #fddcb0;
$textPrimaryColor: #1d2310;
$textSecondaryColor: #292b27;
$backgroundPrimaryColor: #ffffff;
$backgroundSecondaryColor: #f5f8fe;
$transparentBackgroundPrimaryColor: #ffffffee;

$delay: 0.2s ease-in-out;
$longDelay: 0.6s ease-in-out;

$breackpointXLMax: 1180px;
$breackpointLGMax: 992px;
$breackpointMDMax: 768px;
$breackpointSMMax: 576px;
$breackpointXSMax: 370px;

$breackpointXSMin: 0px;
$breackpointSMMin: $breackpointXSMax + 1px; // 371px
$breackpointMDMin: $breackpointSMMax + 1px; // 577px
$breackpointLGMin: $breackpointMDMax + 1px; // 769px
$breackpointXLMin: $breackpointLGMax + 1px; // 993px
$breackpointXXLMin: $breackpointXLMax + 1px; // 1181px

@mixin removeMB {
	& > :last-child {
		margin-bottom: 0;
	}
}
@mixin removeMR {
	& > :last-child {
		margin-right: 0;
	}
}
@mixin flex($align-items: center, $justify-content: center, $flex-direction: row, $flex-wrap: nowrap) {
	display: flex;
	align-items: $align-items;
	justify-content: $justify-content;
	flex-direction: $flex-direction;
	flex-wrap: $flex-wrap;
}

/* ----- fonts */
@import './fonts';
/* fonts ----- */

/* ----- icons */
@import './icons';
/* icons ----- */

/* ----- reset */
@import './reset';
/* reset ----- */

/* ----- common */
@import './common';
/* common ----- */

/* ----- loader */
@import './components/loader';
/* loader ----- */

/* ----- modal */
@import './components/modal';
/* modal ----- */

/* ----- logo */
@import './components/logo';
/* logo ----- */

/* ----- nav */
@import './components/nav';
/* nav ----- */

/* ----- phones */
@import './components/phones';
/* phones ----- */

/* ----- burger */
@import './components/burger-icon';
/* burger ----- */

/* ----- headline */
@import './components/headline';
/* headline ----- */

/* ----- contacts */
@import './components/contacts';
/* contacts ----- */

/* ----- header */
@import './blocks/header';
/* header ----- */

/* ----- home */
@import './blocks/home';
/* home ----- */

/* ----- about */
@import './blocks/about';
/* about ----- */

/* ----- advantage */
@import './blocks/advantage';
/* advantage ----- */

/* ----- for */
@import './blocks/for';
/* for ----- */

/* ----- products */
@import './blocks/products';
/* products ----- */

/* ----- send */
@import './blocks/send';
/* send ----- */

/* ----- map */
@import './blocks/map';
/* map ----- */

/* ----- footer */
@import './blocks/footer';
/* footer ----- */

body {
	&._overflow-hidden {
		overflow: hidden;
	}
}
.wrapper {
	overflow: hidden;
}

.main {
	background-color: $backgroundPrimaryColor;
	// .main__container {
	// }
	// .main__body {
	// }
	// .main__home {
	// }
	// .main__about {
	// }
	// .main__advantage {
	// }
	// .main__for {
	// }
	// .main__products {
	// }
	// .main__send {
	// }
	// .main__map {
	// }
}
